/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************ SITE ****************/

/* Container geral */
.content { width: 1000px; margin: 0 auto; font-family: tahoma, arial, verdana; }

/* Header */
.content header {  background-color: #FF3030; padding: 10px; width: 980px; }
.content header h1 { color: #FFF; font-size: 26px; font-family:"arial black"; }
.content header h2 { color: #000; font-size: 18px; padding-top: 5px; }

/* Navegacao */
.content nav { background: #444; margin-top: 3px; }
.content nav {  line-height: 30px; padding: 0 10px; }
.content nav a { color: white; }
.content footer { color: #FFF; text-align:center; background-color: #444; padding: 5px 0 5px 0; }

/* Conteudo */
body article.article_content { padding: 5px; }
.article_content .message { color: #444; font-size: 14px; font-weight: bold; padding: 5px 0 5px 0; }
.article_content .warning { color: #FF8C00; }
.article_content .success { color: #238E23; }
.article_content h2 { font-size: 16px; font-weight: bold; padding: 10px; }
.article_content form label { display: inline-block; width: 150px; }
.article_content form label.normal { width: auto; }
.article_content form p { padding: 3px 0 3px; }

.article_content div.reserva_num { padding: 10px 0 10px 5px; font-size: 26px; color: #FF8C00; background-color: #F0FFFF; }
.article_content div.reserva_num span { font-weight: bold; font-size: 29px; }
table {border: thick;}
td { padding: 5px; border: medium;}